.home-blog-1 {
    margin-bottom: 2rem;
}

/* Content */

.content {
    width: 90%;
    margin: 2rem auto 2rem;
    border: 1px solid red;
}

.main-content {
    width: 70%;
    float: left;
    border: 1px solid blue;
}

.sidebar {
    width: 30%;
    float: left;
    border: 1px dashed green;
    height: 300px
}